@use "breakpoints" as b;
@use "functions" as f;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: var(--fm);
  font-size: var(--fs-sm);
  font-weight: 400;
  color: var(--darkSlateGrey);

  @include b.breakpoint(large) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkSlateGrey);
  }
}

h1 {
  margin-top: f.rem(40);
  font-size: f.rem(32);

  @include b.breakpoint(large) {
    font-size: f.rem(60);
  }
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

.main {
  background-color: var(--white);

  @include b.breakpoint(large) {
    border-radius: 40px;
  }

  .container {
    @include b.breakpoint(large) {
      padding: f.rem(24);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__image {
    min-height: 18rem;
    background-image: url("/assets/images/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

    @include b.breakpoint(large) {
      background-image: url("/assets/images/illustration-sign-up-desktop.svg");
      height: f.rem(600);
      width: f.rem(400);
      border-radius: 16px;
      margin-left: f.rem(64);
      order: 1;
    }
  }

  &__text {
    padding: 0 f.rem(24);

    @include b.breakpoint(large) {
      padding: 0;
      margin-left: f.rem(36);
    }
  }

  &__list {
    padding-left: 0;
    margin-bottom: f.rem(35);
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: f.rem(16);
      }

      p {
        padding-left: f.rem(18);
        margin: 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    label {
      font-size: f.rem(12);
      font-weight: 700;
      margin-bottom: f.rem(10);
    }

    input {
      margin-bottom: f.rem(24);
      padding: f.rem(22);
      border: 1px solid var(--grey);
      font-weight: 500;
      border-radius: 8px;
    }

    .button {
      cursor: pointer;
      margin-bottom: f.rem(40);
      background-color: var(--darkSlateGrey);
      color: var(--white);
      font-weight: 600;
      padding: f.rem(22);
      border-radius: 8px;
    }
  }
}
